{% extends "base_generic.html" %}

{% block content %}
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
div {
  position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  padding:30px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}  
img {
	margin:auto;
	margin-bottom: 30px;
    padding:0px;
	height: 50%;
	width: 50%;
	display:block;
}
p {
	font-family: "Roboto", sans-serif;
	font-size:140%;
	text-align:center;
}
</style>
<div>
	{% load static %}
	<img src="{% static 'images/mycriticlogo.png' %}" alt="mycritic_logo"/>
{% if need_to_rate %}
	  <p><strong>Hey there, {{ username }}!</strong></p>
      <p>Before we show you recommendations, you'll have to rate at least <strong>{{ movies_to_rate }}</strong> more movies.</p>
{% endif %}
      <br>
	  <form method="get" action="/mycritic_app/result" id="search">
		<input name="q" type="text" size="40" placeholder="Search for a movie..." />
	  </form>
</div>

{% endblock %}